.home {
    padding: 0 10px 100px;
}

.hero {
    max-width: 1000px; /* Make hero wider */
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.hero h1 {
    font-size: max(4vw, 36px);
}

.hero p {
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero form {
    padding: 8px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero form input {
    flex: 1;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.hero form button {
    padding: 10px 20px;
    background-color: #7927ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

/* ===== Crypto Table Styling ===== */

.crypto-table {
    width: 90%; /* make table 90% of page */
    margin: 50px auto 0;
    background: linear-gradient(#5403ff26, #69029926);
    border-radius: 15px;
    overflow: hidden; /* for clean rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.market-cap {
    text-align: right;
}

.table-layout {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr 0.5fr;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
    font-size: 18px;
}

.table-layout:last-child {
    border-bottom: none;
}

.table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-layout img {
    width: 35px;
}

/* Favorite button style */
.table-layout button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.favorite-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: gold;
    padding: 0;
    margin: 0;
}

.favorite-button:hover {
    color: orange;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .table-layout {
        grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
        font-size: 16px;
    }

    .market-cap {
        display: none;
    }
}
